<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Bocchi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>

    <main role="main" class="container">
        @RenderBody()
    </main>
</body>
</html>